@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-bg-gradient: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    --main-font-gradient: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
}

body{
    font-family: 'TheJamsil5Bold';
    margin:0;
}

nav{
    align-items:flex-start;
    height: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.navContainer{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 50px;

    color: #403930;

    font-size: 120%;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

header{
    display: flex;
    padding : 5% 15% 5% 15%;
    align-items: center;
    gap: 5%;
}

.headerLeftSection{
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-shrink: 0; 
    align-items: flex;
    white-space: nowrap;
}

.headerRightSection{
    display: flex-end;
    align-items: center;
    flex-shrink: 0; 
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: 5px solid #0e102d; 
    background: url("./img/profile.jpg"), lightgray 50% / cover no-repeat;
    background-position: center center;
    background-size: 100%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}


.badge{
    padding: 3% 5%;
    border-radius: 10px;
    background: #e6eeff;  
    width: fit-content;
    color: #000;
    font-size: 110%;
    font-weight: 500;
    line-height: 120%; /* 36px */
    margin-bottom: 3%;
}

header h1 {
    color: #333;
    font-size: 300%;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 80px */
    letter-spacing: -1px;

}
  
.animateFont {
    background: var(--main-font-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 13.5ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #403930;
  }
@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
    border-color: transparent
    }
}

.headerLinkContainer{
    display: flex;
    gap: 5%;
    white-space: nowrap
}
.headerLink1{
    text-decoration: none;
    display: flex;
    width: 30%;
    padding: 3% 5%;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #000;
    color: #E6EEFF;
    font-size: 110%;
    font-weight: 600;
    line-height: 80%; /* 36px */

}
.headerLink2{
    text-decoration: none;
    display: flex;
    width: 30%;
    padding: 3% 5%;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 4px solid #403930;
    color: #403930;
    font-size: 110%;
    font-weight: 600;
    line-height: 80%; /* 36px */
    
}

.aboutMeContainer{
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    width:100%;
    /* height: 100vh; */
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.aboutMeContainer .title{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 230%;
    line-height: 170%; 
}

.aboutMeContainer .content{
    font-family: 'Pretendard-Regular';
    font-size: 120%;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 150%; 
    padding-bottom: 5%;
}

/* ----- 기술 스택 ----- */

.techStackContainer {
    padding:  100px 50px;
    justify-content: center;
align-items: center;
    
}
  
.techStackContainer p {
    font-family: 'Pretendard-Regular';
    margin-bottom: 80px;
    color: #333;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}

.techStackContainer h3 {    
    color: #000;
    text-align: center;
    font-size: 40px;
    line-height: 26px; /* 65% */
    letter-spacing: -0.8px;
    padding-bottom: 24px;
}


.teckLogos {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 80px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.fixedContactButton{
    font-family: 'TheJamsil5Bold';
    text-decoration: none;
    width: fit-content;
    flex-shrink: 0;
    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);
    position: fixed;
    top: 88%;
    left: 88%;
    padding: 1% 1%;
    color: rgba(64, 57, 48, 0.80);
    text-align: center;
} 

.myProject{
    display: flex;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    background: rgba(244, 244, 244, 0.50);
}

.myProject h3{
    color: #000;
    font-size: 40px;
    font-weight: 700;
}


.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    gap: 70px;

}

.myProject .project{
    display: flex;
    padding: 40px 40px 40px 40px;
    background: #E6EEFF;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    gap: 80px;
    flex-shrink: 0; 
    transition: transform 0.3s ease-in-out;
}

.myProject .project:hover {
    transform: scale(1.1);
  }

.myProject .content{
    display: inline-block;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 60%;
    padding-left: 10px;
}
.myProject .image{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 10px;
}
.myProject .image img{
    margin: 3%;
    width: 80px;
    border-radius: 16.08px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

/* 동료 피드백 */

.feedbackContainer{
    font-family: 'Pretendard-Regular';
    display: flex;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.feedbackContainer h3{
    font-family: 'TheJamsil5Bold';
    color: #000;
    font-size: 40px;
    font-weight: 700;
}
.feedbacks{
    display: flex;
    gap: 60px;
    align-items: flex-start;
    overflow-x: scroll;
    width: 80%;
    padding: 3% 3% 3% 3%;
}

.feedback{
    display: flex;
    width: 300px;
    height: 264px;
    padding: 0px 39px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    
}

.feedback em{
    display: inline-block;
    justify-content: baseline;
    align-items: baseline;
}



/*  포부  */

.aspiration {
    display: flex;
    padding: 64px 0px;
    padding-left: 12%;
    padding-right: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #E6EEFF;
}

.aspiration .content{
    color: #403930;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%; /* 60px */
    letter-spacing: -0.96px;
    align-self: stretch;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: #FAFAFA;
    gap: 35px;
    padding-top: 50px;
    padding-bottom: 20px;
}
footer img{
    width: 30px;
    height: 30px;
}
footer .footerIcon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

footer .content{
    font-family: 'intelone-mono-font-family-regular';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--Dark, #21243D);
    text-align: center;
    font-size: 14px;
}